<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Lista de alunos</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="container">

		<div class="jumbotron">
			<h1 class="display-4">Acadêmico Etec Jorge Street</h1>
		</div>
		
			<nav class="navbar navbar-expand-lg navbar-light bg-light">	

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Aluno </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/aluno/cadastrar">Cadastrar Aluno</a> <a
								class="dropdown-item" href="/aluno/listar">Listar Alunos</a>
							<div class="dropdown-divider"></div>	
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Funcionário </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a> <a
								class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div></li>



					<li class="nav-item"><a class="nav-link" href="#">Contato</a>
					</li>

				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-body">
			
			

				<form class="row" th:object="${alunoEntity}" th:action="@{/aluno/salvar}" method="post">
				
				<input type="hidden" th:field="*{id}">
				
					<div class="mb-3 col-md-10">
						<label for="formGroupExampleInput" class="form-label">Nome
							Aluno</label> <input type="text" class="form-control"
							id="formGroupExampleInput" placeholder="Digite o nome do aluno"
							th:field="*{nome}">
					</div>
					<div class="mb-3 col-md-2">
						<label for="formGroupExampleInput2" class="form-label">Idade</label>
						<input type="text" class="form-control"
							id="formGroupExampleInput2" placeholder="Idade do aluno"
							th:field="*{idade}">
					</div>

					<div class="mb-3 col-md-12">
						<label for="formGroupExampleInput2" class="form-label">Endereço</label>
						<input type="text" class="form-control"
							id="formGroupExampleInput2" placeholder="Endereço do aluno"
							th:field="*{endereco}">
					</div>

					<div class="mb-3 col-md-5">
						<label for="formGroupExampleInput2" class="form-label">Telefone</label>
						<input type="text" class="form-control"
							id="formGroupExampleInput2" placeholder="Telefone do aluno"
							th:field="*{telefone}">
					</div>

					<div class="mb-3 col-md-7">
						<label for="formGroupExampleInput2" class="form-label">E-mail</label>
						<input type="email" class="form-control"
							id="formGroupExampleInput2" placeholder="e-mail do aluno"
							th:field="*{email}">
					</div>

					<div class="mb-3 col-lg-12" style="text-align: right;">
						<button type="submit" class="btn btn-success">Salvar</button>
					</div>
				</form>				
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>