<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Academico</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>

	<div class="container">

		<div class="jumbotron">
			<h1 class="display-4">Acadêmico Etec Jorge Street</h1>
		</div>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">	

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/home">Home
							<span class="sr-only">(current)</span>
					</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Aluno </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/aluno/cadastrar">Cadastrar Aluno</a> <a
								class="dropdown-item" href="/aluno/listar">Listar Alunos</a>
							<div class="dropdown-divider"></div>							
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Funcionário </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a> <a
								class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div></li>



					<li class="nav-item"><a class="nav-link" href="#">Contato</a>
					</li>

				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<div class="mt-4">
		
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8BAL0MSAi-MiqvOzc52tDQCuLTXnuZj7fWQ&usqp=CAU"  />
			<!-- <figure class="figure">
				<img th:src="@{/resources/images/etec_street.jpg}" class="figure-img img-fluid rounded" alt="...">
				<figcaption class="figure-caption">A caption for the
					above image.</figcaption>
			</figure> -->

		</div>

	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>