<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	
	<title>Lista de alunos</title>
	
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"	rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" 	rel="stylesheet" />
</head>
<body>
<div class="container">
  <div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de Alunos</h1>
		</div>
		<div class="panel-body">		
			
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Idade</th>
						<th>Endereço</th>
						<th>Telefone</th>
						<th>E-mail</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${alunos}">
						<td th:text="${aluno.nome}"></td>
						<td th:text="${aluno.idade}"></td>
						<td th:text="${aluno.endereco}"></td>
						<td th:text="${aluno.telefone}"></td>
						<td th:text="${aluno.email}"></td>
						<td>
							<a th:href="@{/aluno/editar/{id}(id = ${aluno.id})}" class="btn btn-warning">Editar</a> 							
						</td>
						<td>
							<a th:href="@{/aluno/excluir/{id}(id = ${aluno.id})}" class="btn btn-danger">Excluir</a> 							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>